<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Store the datasets in database tables
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://qkk01627:8dv7p8g74r1sn%5E9x@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

'Connected: qkk01627@BLUDB'

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### How many rows are in each dataset?

In [3]:
# Rows in Census Data (Socieconimic Indicators)
%sql select count(*) as "# Rows in Cencus Data" from CENSUS_DATA;

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [4]:
# Rows in Public Schools
%sql select count(*) as "# Rows in Public Schools" from CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [5]:
# Rows in Crime Data
%sql select count(*) as "# Rows in Crime Data" from CHICAGO_CRIME_DATA;

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Find average college enrollments by community area

In [22]:
%sql select "Community_Area_Number", avg("College_Enrollment__number_of_students_") as "Average College Enrollment" \
from CHICAGO_PUBLIC_SCHOOLS group by "Community_Area_Number";

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, Decimal('678.000000')),
 (2, Decimal('910.777777')),
 (3, Decimal('626.857142')),
 (4, Decimal('826.400000')),
 (5, Decimal('1077.285714')),
 (6, Decimal('641.363636')),
 (7, Decimal('802.142857')),
 (8, Decimal('480.285714')),
 (9, Decimal('455.000000')),
 (10, Decimal('808.625000')),
 (11, Decimal('877.500000')),
 (12, Decimal('477.000000')),
 (13, Decimal('842.000000')),
 (14, Decimal('858.000000')),
 (15, Decimal('993.428571')),
 (16, Decimal('862.666666')),
 (17, Decimal('761.333333')),
 (18, Decimal('1317.000000')),
 (19, Decimal('1198.833333')),
 (20, Decimal('993.750000')),
 (21, Decimal('910.000000')),
 (22, Decimal('668.272727')),
 (23, Decimal('663.076923')),
 (24, Decimal('471.450000')),
 (25, Decimal('475.347826')),
 (26, Decimal('327.750000')),
 (27, Decimal('410.538461')),
 (28, Decimal('498.437500')),
 (29, Decimal('321.625000')),
 (30, Decimal('672.409090')),
 (31, Decimal('659.727272')),
 (32, Decimal('871.000000')),
 (33, Decimal('459.333333')),
 (34, Decimal('486.000000')),
 (35, Decimal('424.545454')),
 (36, Decimal('140.000000')),
 (37, Decimal('265.500000')),
 (38, Decimal('351.125000')),
 (39, Decimal('612.428571')),
 (40, Decimal('529.600000')),
 (41, Decimal('482.500000')),
 (42, Decimal('525.750000')),
 (43, Decimal('504.777777')),
 (44, Decimal('560.222222')),
 (45, Decimal('507.333333')),
 (46, Decimal('577.571428')),
 (47, Decimal('549.000000')),
 (48, Decimal('261.333333')),
 (49, Decimal('540.000000')),
 (50, Decimal('324.000000')),
 (51, Decimal('464.750000')),
 (52, Decimal('1061.000000')),
 (53, Decimal('324.000000')),
 (54, Decimal('386.750000')),
 (55, Decimal('481.500000')),
 (56, Decimal('910.400000')),
 (57, Decimal('2411.500000')),
 (58, Decimal('1205.875000')),
 (59, Decimal('388.000000')),
 (60, Decimal('633.400000')),
 (61, Decimal('609.384615')),
 (62, Decimal('1233.333333')),
 (63, Decimal('991.500000')),
 (64, Decimal('521.250000')),
 (65, Decimal('1051.750000')),
 (66, Decimal('1012.285714')),
 (67, Decimal('457.384615')),
 (68, Decimal('401.882352')),
 (69, Decimal('405.100000')),
 (70, Decimal('810.375000')),
 (71, Decimal('417.500000')),
 (72, Decimal('409.000000')),
 (73, Decimal('445.111111')),
 (74, Decimal('522.750000')),
 (75, Decimal('654.200000')),
 (76, Decimal('786.000000')),
 (77, Decimal('766.666666'))]

### Problem 3

##### Find the number of schools that are healthy school certified

In [26]:
%sql select count("Healthy_Schools_Certified_") as "Number of healthy certified schools" \
    from CHICAGO_PUBLIC_SCHOOLS where "Healthy_Schools_Certified_"='Yes';

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

### Problem 4

##### How many observations have a Location Description value of GAS STATION

In [27]:
%sql select count("Location_Description") as "Number of observations in Gas Station" \
    from CHICAGO_CRIME_DATA where "Location_Description"='GAS STATION';

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

### Problem 5

##### Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order.

In [33]:
%sql select "Community_Area_Number", count("Community_Area_Number") as "Number of schools" from CHICAGO_PUBLIC_SCHOOLS \
    group by "Community_Area_Number" order by "Number of schools" desc limit 10;

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('23')),
 (30, Decimal('22')),
 (24, Decimal('20')),
 (68, Decimal('17')),
 (28, Decimal('16')),
 (29, Decimal('16')),
 (23, Decimal('13')),
 (61, Decimal('13')),
 (49, Decimal('13')),
 (27, Decimal('13'))]

### Problem 6

##### How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable (this is the number of crimes related to Motor vehicles)

In [34]:
%sql select count("Primary_Type") as "Number of motor vehicle theft" \
    from CHICAGO_CRIME_DATA where "Primary_Type"='MOTOR VEHICLE THEFT';

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

### Problem 7

##### Find the minimum “Average Student Attendance” for community are where hardship is 96. Hint: use INNER JOIN

In [10]:
%sql select min(S."Average_Student_Attendance") as "Minimun average student attendance" from "CHICAGO_PUBLIC_SCHOOLS" S inner join "CENSUS_DATA" C \
    on S."Community_Area_Number"=C."Community_Area_Number" where "HARDSHIP_INDEX"=96;

 * ibm_db_sa://qkk01627:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('86.1%',)]

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).