In [1]:
import pandas as pd

In [2]:
#Read geographical coordinates from the CSV file in the provided link.
url = 'http://cocl.us/Geospatial_data'
coordinates = pd.read_csv(url)
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
coordinates.shape

(103, 3)

In [4]:
#Rename the first column so that it's the same as postcode table.
coordinates.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [5]:
#Read the postcodes table prepared and exported in part 1 of the assignment.
postcodes = pd.read_csv('Toronto_Postcodes.csv',index_col=[0])
postcodes.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [6]:
#Merge both tables
postcodes_coordinates = pd.merge(postcodes, coordinates, on='PostalCode')
postcodes_coordinates.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
postcodes_coordinates.shape

(103, 5)

In [8]:
postcodes_coordinates.to_csv('Toronto_Postcodes_Coordinates.csv')
print('Postcode coordinates was successfully exported!')

Postcode coordinates was successfully exported!